table {
    border-spacing: 0;
}
th {
    background-color: black;
    font-weight: bold;
    color: rgb(129, 198, 77);
    text-align: left;
    padding: 5px;
}
td {
border-top: 1px solid darkgrey;
padding: 5px;
}
tbody tr:hover {
    background-color: lightgrey;
}
img.logo {
    position:absolute;
    top:0;
    right: 10px;
}